<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CV | Heri Gunawan</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <style>
    body {
      background-color: #f5f5f5;
    }

    .container {
      max-width: 900px;
    }

    .sidebar {
      background-color: #47748e;
    }

    .sidebar .sidebar-top {
      background-color: #3b93c5;
    }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-37XK24V10L"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-37XK24V10L');
  </script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center shadow my-3">
      <div class="col-md-8 bg-light p-5">
        <section id="profile">
          <div class="fw-lighter fs-3 pb-3 text-info">
            <i class="bi bi-person-circle"></i> ABOUT
          </div>
          <p class="fw-lighter">Experienced Informatics Engineering Programmer with a demonstrated history of working in
            the online media
            industry. Skilled in PHP, React, Vue and MongoDB. Strong information technology professional
            with a Bachelor's degree focused in Informatics Engineering.</p>
        </section>
        <section id="experience">
          <div class="fw-lighter fs-3 py-3 text-info">
            <i class="bi bi-briefcase"></i> EXPERIENCES
          </div>
          <div class="exp-item pb-2">
            <div class="d-flex justify-content-between">
              <div class="fw-bold">Lead Frontend Developer</div>
              <div class="fw-lighter">2016 - present</div>
            </div>
            <div class="text-muted">tirto.id</div>
            <p class="fw-lighter">Design, implementation and maintenance tirto.id web applications. Frontend apps, API,
              Users and Banner Management.
          </div>
          <div class="exp-item pb-2">
            <div class="d-flex justify-content-between">
              <div class="fw-bold">Senior Web Developer</div>
              <div class="fw-lighter">2009 - 2016</div>
            </div>
            <div class="text-muted">detik.com</div>
            <p class="fw-lighter">Develop and maintain detikID (a single sign on apps) and comment management system for
              all detikFamily property.</p>
          </div>
          <div class="exp-item pb-2">
            <div class="d-flex justify-content-between">
              <div class="fw-bold">Web Developer</div>
              <div class="fw-lighter">2008 - 2009</div>
            </div>
            <div class="text-muted">PT Alam Teknindo Lestari</div>
            <p class="fw-lighter">Develop web-based application for several client</p>
          </div>
          <div class="exp-item pb-2">
            <div class="d-flex justify-content-between">
              <div class="fw-bold">Web Developer</div>
              <div class="fw-lighter">2006 - 2008</div>
            </div>
            <div class="text-muted">PT Metanouva Informatika</div>
            <p class="fw-lighter">Develop web-based application for several client</p>
          </div>
        </section>
        <section id="projects">
          <div class="fw-lighter fs-3 py-3 text-info">
            <i class="bi bi-columns"></i> PROJECTS
          </div>
          <ul class="list-unstyled fw-lighter">
            <li class="pb-2"><span class="fw-bold">Tirto REST API</span> Design, implementation and maintenance API for
              all services on tirto.id.</li>
            <li class="pb-2"><span class="fw-bold">Tirto.ID</span> Develop and maintain all tirto.id websites (desktop,
              mobile and android apps).</li>
            <li class="pb-2"><span class="fw-bold">Ads Planner</span> Develop a dashboard for managing the client
              campaigns.</li>
            <li class="pb-2"><span class="fw-bold">Tirto Single Sign On</span> Design, implementation and maintain
              TirtoID SSO.</li>
            <li class="pb-2"><span class="fw-bold">Banner Management</span> Develop internal apps for managing banners.
            </li>
            <li class="pb-2"><span class="fw-bold">Detik Connect</span> Develop and maintain detikID, a single sign on
              apps for all detikFamily property.</li>
            <li class="pb-2"><span class="fw-bold">Comments Management System</span> Develop and maintain a comment
              management system for all detikFamily property.</li>
            <li class="pb-2"><span class="fw-bold">Detikcom Family</span> Develop and maintain detikFamily website.</li>
          </ul>
        </section>
        <section id="skills">
          <div class="fw-lighter fs-3 py-3 text-info">
            <i class="bi bi-lightning"></i> SKILLS & PROFICIENCY
          </div>
          <div class="row pb-2">
            <div class="col-3">
              <span class="fw-bold">PHP</span>
            </div>
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 97%" aria-valuenow="97"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-3">
              <span class="fw-bold">Nodejs</span>
            </div>
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-3">
              <span class="fw-bold">React</span>
            </div>
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-3">
              <span class="fw-bold">Vue</span>
            </div>
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row pb-2">
            <div class="col-3">
              <span class="fw-bold">MongoDB</span>
            </div>
            <div class="col-9">
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="95"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-4 p-0 sidebar">
        <div class="sidebar-top text-center py-5 text-light">
          <img src="https://aageboi.github.io/img/heri-gunawan.png" alt="Heri Gunawan" width="150"
            class="rounded-circle shadow" />
          <h2>Heri Gunawan</h2>
          <p>Fullstack Web Developer</p>
        </div>
        <div class="sidebar-bottom text-light p-4">
          <ul class="list-unstyled">
            <li class="pb-1"><i class="bi bi-envelope"></i> hergun@example.com</li>
            <li class="pb-1"><i class="bi bi-telephone"></i> +62 8567 8910 1112</li>
            <li class="pb-1"><i class="bi bi-link"></i> aageboi.github.io</li>
            <li class="pb-1"><i class="bi bi-linkedin"></i> linkedin.com/in/aageboi</li>
            <li class="pb-1"><i class="bi bi-twitter"></i> @aageboi</li>
          </ul>
          <h5 class="pt-5">EDUCATION</h5>
          <ul class="list-unstyled">
            <li class="pb-1">
              <strong>Bachelor of Informatics Engineering</strong>
              <p class="fw-lighter">
                <i>Maranatha Christian University</i><br />2007 - 2009
              </p>
            </li>
            <li class="pb-1">
              <strong>Diploma of Informatics Engineering</strong>
              <p class="fw-lighter">
                <i>Indonesia Polytechnic of Post</i><br />2003 - 2006
              </p>
            </li>
          </ul>
          <h5 class="pt-5">LANGUAGE</h5>
          <ul class="list-unstyled">
            <li class="pb-1">Bahasa (Native)</li>
            <li>English</li>
          </ul>
          <h5 class="pt-5">INTEREST</h5>
          <ul class="list-unstyled">
            <li class="pb-1">Photography</li>
            <li>Gaming</li>
            <li>Traveling</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center text-dark pb-5">
    <p>Made by <a href="https://www.instagram.com/aageboi/" class="text-dark fw-bold">Heri Gunawan</a> with <i
        class="bi bi-heart-fill text-danger"></i></p>
  </footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>

</html>